* {
    margin: 1%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: black;
    background-color: white;
}
.hero {
    width: 100%;
}
.title {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.timer {

}
.scorecard {

}
.start-btn {
    display: flex;
    justify-content: center;
}
#start-btn{
    border: none;
    background-color: lightgrey;
    font-weight: bold;
    border-radius: 5px;
}
#start-btn:hover{
    background-color: white;
}
.questions {

}
.answer-btns{
    display: flex;
    flex-direction: column;
    margin: 1%;
}
.mc-btn {
    border: none;
}
.mc-btn:hover {
    background-color: gray;
    color: white;
}