* {
    margin: 0.5%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: black;
    background-color: white;
}
.hero {
    width: 100%;
}
.title {
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.questions {
    
}